Create markdown cell with title of the notebook.

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction.

## A brief summary about data science tools and ecosystem.

In [ ]:
Insert a markdown cell to list Objectives.

**Objectives:**
- Often used programming languages
- Most common libraries
- Data science tools
- Examples of evaluating arithmetic expressions

Create a markdown cell t data science languages.

Data scientists often use programming languages such as:
1. Python
2. Java
3. R

Create a markdown cell to list data science libraries.

Here are some of the most common libraries used by data scientist:
1. NumPy
2. MatPlotLib
3. Pandas

In [ ]:
Create a markdown cell with a table of Data Science tools.

| Data Science Tools |
|---------------|
| RStudio |
| Apache Spark |
| TensorFlow |

Create a markdown cell introducing arithmetic expression examples.

### Examples of evaluating arithmetic expressions in Python:

Create a code cell to multiply and add numbers.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
x = (3*4)+5
result = x
print(result)

Create a code cell to convert minutes to hours.

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = x
x = 200/60
print(hours)

Create a markdown cell to indicate the Author's name.

## Author
Márton Gábor Papp